#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 > #backgroundBox {
  position: absolute;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 > #alignmentBox {
  position: relative;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 {
  position: absolute;
  width: 1279.9999999999995px;
  height: 686.0951034667062px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 tr.odd {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 tr.even {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Header_1 {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 {
  width: 289.55516067397895px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_1 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 {
  width: 36.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 {
  width: 220.35916006285606px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 {
  width: 58.3359375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 {
  width: 206.15632357442976px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 {
  width: 42.779296875px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 {
  width: 216.3969755346719px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_4 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 {
  width: 47.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 {
  width: 203.3520703473115px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 {
  width: 59.115234375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 {
  width: 145.99999999999955px;
  height: 94.07833807106834px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 {
  width: 42.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 {
  width: 289.55516067397895px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .Row_cell_7 > *:first-child {
  margin-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .Row_cell_7 > *:last-child {
  margin-right: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .Row_cell_7 > * {
  margin-left: 7.0px;
  margin-right: 7.0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Ellipse_9 {
  width: 37.0px;
  height: 37.0px;
  min-height: 37.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Ellipse_9 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 .shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Image_35 {
  position: absolute;
  width: 14.0px;
  height: 16.333333333333332px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Image_35 {
  box-shadow: none;
}

 div.relativeLayoutWrapper.s-Group_2 {
  transform: translate(-0.0px, -0.0px);
  width: 37.0px;
  height: 37.0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 {
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 .valign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 {
  width: 220.35916006285606px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_8 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 {
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 .valign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 {
  width: 206.1563235744297px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_9 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 {
  width: 90.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 .valign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 {
  width: 216.3969755346719px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_10 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 {
  width: 90.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 .valign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 {
  width: 203.3520703473115px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .Row_cell_11 > *:first-child {
  margin-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .Row_cell_11 > *:last-child {
  margin-right: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .Row_cell_11 > * {
  margin-left: 3.5px;
  margin-right: 3.5px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Image_29 {
  width: 12.0px;
  height: 15.36px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Image_29 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 {
  width: 91.00000000000023px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 .valign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 .verticalalign {
  vertical-align: middle;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 {
  width: 145.99999999999955px;
  height: 98.66946089927298px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Row_cell_12 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_6 {
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Data_grid_1 .s-Input_6 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 {
  position: absolute;
  width: 1279.9999999999995px;
  min-height: 114.0718543075169px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 {
  position: absolute;
  width: 61.15104293823242px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 {
  position: absolute;
  width: 61.15104293823242px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 {
  position: absolute;
  width: 32.99999999999977px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 8.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 {
  position: absolute;
  width: 145.99999999999955px;
  min-height: 36.000000000000085px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 {
  position: absolute;
  width: 253.75px;
  height: 34.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_3 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 12px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 {
  position: absolute;
  width: 21.25px;
  min-height: 19.96257450381546px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_25 {
  position: absolute;
  width: 20.0px;
  height: 12.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_25 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 {
  position: absolute;
  width: 180.0px;
  height: 34.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Category_4 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 12px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 {
  position: absolute;
  width: 21.25px;
  min-height: 19.96257450381546px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_26 {
  position: absolute;
  width: 20.000000000000227px;
  height: 12.499999999999972px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_26 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_3 {
  width: 70.0px;
  height: 34.22155629225504px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_3 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_27 {
  position: absolute;
  width: 10.0px;
  height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_27 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Ellipse_10 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Ellipse_10 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_4 {
  width: 56.0px;
  height: 24.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_4 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_28 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Image_28 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Ellipse_11 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #s-Ellipse_11 {
  box-shadow: none;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #EDEDED;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d0473fbe-2ea0-45e7-9ed9-f454dc392db7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
